#loginForm{
	border: solid gray 1px;
	height: 175px;
	max-height: 175px;
	width: 240px;
	max-width: 240px;
	border-radius: 5px;
	margin: 100px auto;
	background: white;
}

#logoutBox{
	border: solid gray 5px;
	height: 75px;
	max-height: 75px;
	width: 100px;
	max-width: 100px;
	border-radius: 5px;
	margin: 100px auto;
	background: white;
}

#btn{
	color: #fff;
	background: #337ab7;
	padding: 50px;
}